h1{
    font-size: 28px;
    margin-left: 10px;
}
.textabout{
    size:19px;
    margin-left: 16px;
    overflow-wrap: break-word;
}
.img{
    margin-left: 16px;
    opacity: 0;
    animation: fadeIn 13s ease-in-out forwards;
    text-align: center;
    display:inline;
}
.img-about{
    margin-left: 16px;
    text-align: center;
    display:inline;
}
.img.visible{
    opacity: 1;
}
main{
    text-align: center;
    align-items: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 45%; }
}