.trigger-button {
    padding: 11px 24px;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
@media only screen and (min-height: 700px){
.trigger-button {
    padding: 16px 35px;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
  }

}
@media only screen and (min-width: 700px){
.trigger-button {
    margin-right: 12px;
    margin-bottom: 20px;
  }
  
}

  .trigger-button:hover {
    background-color: #005bb5;
  }
  
  /* Popup modal overlay */
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  
  /* Popup modal content */
  .modal {
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--background);
  }
  
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  .price{
    display: inline;
    float: right;
  }
  
  .header {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 25px;
  }
  
  .content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .actions .button {
    padding: 10px 20px;
    background-color: #0070f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .actions .button:hover {
    background-color: #005bb5;
  }